<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-responsive table-striped">
                <tbody>
                    <tr>
                        <th class="font-weight-bold">Environment:</th>
                        <td>{{ environment | titlecase }}</td>
                    </tr>

                    <tr>
                        <th class="font-weight-bold">API Key 1:</th>
                        <td>{{ SomeAPIKey | titlecase }}</td>
                    </tr>

                    <tr>
                        <th class="font-weight-bold">API Key 2:</th>
                        <td>{{ SomeOtherAPIKey | titlecase }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
